* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
    Ã’
  }


  
  .banniere {
    position: absolute; 
    height: 100vh; /* la hauteur de l'Ã©cran */
    z-index: -1; 
    inset: 0px; 
    /* overflow: hidden;  */
    background-size: cover; 
    background-color: transparent; 
    background-repeat: no-repeat; 
    background-position: center; 
  }


 .box{
 
  margin-right: 1rem;
}

  .onglet {
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;  /* permet de mettre de l'espace entre les liens de la classe onglet */
  margin-bottom: 10px;
  margin-top: 15px;
  margin-right: 4%;
  display: flex;

 

  }
  
  
  
  a {
    color: #FBE4CC ;
    text-decoration: none;
  
    
  }

  .content {
    top: 50%; /* positionnement vertical au centre */
    left: 50%; /* positionnement horizontal au centre */
    text-align: center;
    color: #FBE4CC;
    font-family: 'Righteous', cursive;
  }

 
  /* section recetts avec photo en colonne */
  .chapter img{
    width: 425px;
    max-width: 100%; /* image de taille maximale pour la largeur disponible */
    height: auto; /* hauteur automatique pour conserver les proportions de l'image */
    vertical-align: middle;
  }
  
  .chapters  div{
    padding: 3rem 0; /* espacement de tous les cÃ´tÃ©s */
    flex-wrap: wrap; /* permet de passer Ã  plusieurs lignes si l'espace est insuffisant */
    justify-content: space-around; /* centre les Ã©lÃ©ments et rÃ©partit l'espace disponible */
    display: flex;
   
  }
  
   .chapters {
    padding-right: 30px;
  }
  
  figure {
    position: relative;
    margin-left: 40px;
  }
  
  .chapter-titre {
    font-family: 'Righteous', cursive;
    font-size: 30px ;
    text-align: center;
    position: absolute;  DÃ©finir la position absolue pour positionner le titre par-dessus l'image
    z-index: 1; /*DÃ©finir une valeur de z-index supÃ©rieure pour que le titre apparaisse par-dessus l'image */
    color:#FBE4CC;
    background: #1f2039;
    top: 85%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 0.3rem;
    
  }
  
  small {
    font-size: smaller;
    color: #FBE4CC;
    
  }
  
  .footer_copyright{
    text-align: center;
    margin-top: 1.5rem;
  }
  
  
  
  /* rÃ¨gles pour les Ã©crans plus petits */
  @media screen and (max-width: 768px) {
    .chapter {
      max-width: 100%; /* occupe toute la largeur disponible */
    }
    .chapter img {
      width: 100%; /* image de largeur maximale pour la largeur disponible */
      height: auto; /* hauteur automatique pour conserver les proportions de l'image */
    }
  }