{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'totalement_food/les_categories.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totalement Food</title>
    <!-- indique qu'il faut prendre en compte la largeur de l'écran-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Londrina+Solid:wght@300&family=Righteous&display=swap"
        rel="stylesheet">


<body>
    <header>
        <nav>

            <figure>
                <a href="/totalement_food"><img src={% static 'totalement_food/images/logo.png' %}
                        alt="logo Totalement Food"></a>
            </figure>

        </nav>
        <div class="banniere">
            <img src={% static 'totalement_food/images/banniere.png' %} alt="banniere TF">
        </div>

        <div class="content">
            <h1 class="title">QU'EST-CE QU'UNE ENTRÉE ?</h1>
        </div>
    </header>

    <div class="container">

        <div class="col-12">

            <p>Entrée : n.f. Dans son acception première, une entrée est le passage de l'extérieur à l'intérieur.
                En cuisine et en restauration, une entrée est le premier plat d'un menu, qui vient en fait dans
                l'ordonnance classique en troisième position, après le hors-d’œuvre (ou le potage).
                Dans un grand dîner, l'entrée est soit une préparation chaude en sauce, soit un plat froid ; on appelle
                entrées « mixtes » les croustades, timbales, les pâtés.
                Lorsque plusieurs entrées sont servies, elles doivent être...</p>
        </div>

    </div>


</body>

</html>